@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

img, video, iframe {
  max-width: 100%;
  height: auto; }

body {
  font-family: 'Space Grotesk', sans-serif; }

.encabezado {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  background: #ffffff;
  z-index: 1; }
  .encabezado_imagen {
    width: 13rem; }
  .encabezado_lista {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1em; }
    .encabezado_lista_item {
      display: inline-block;
      padding-left: 0.8em;
      position: relative; }
      .encabezado_lista_item_lista {
        display: none;
        position: absolute;
        z-index: 3; }
        .encabezado_lista_item_lista_item {
          display: block; }
          .encabezado_lista_item_lista_item_ancla {
            color: #666666; }

.encabezado_lista_item:hover > .encabezado_lista_item_lista {
  display: block; }

.encabezado_lista_item_lista_item_ancla:hover {
  color: #000000;
  z-index: 5; }

.encabezado_lista_item:hover {
  color: #666666; }

.hero {
  position: relative; }
  .hero_fondo {
    object-fit: cover;
    height: 100%;
    width: 100%; }
  .hero_contenido {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .hero_titulo {
    color: #000000;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400; }

.play {
  position: relative; }
  .play_fondo {
    object-fit: cover;
    height: 100%;
    width: 100%; }
  .play_contenido {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .play_titulo {
    color: #000000;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400; }

.fondo {
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 0.4rem;
  padding: 2rem; }

.formulario {
  width: 50%;
  line-height: 2.3rem; }
  .formulario_titulo {
    font-size: 1.6rem;
    font-weight: 400; }
  .formulario_radio {
    margin-right: 2rem; }
  .formulario_consent {
    width: 18em; }
    .formulario_consent a {
      text-decoration: underline; }
  .formulario_btn_email {
    display: block;
    background-color: #ffffff;
    color: #000000;
    font-size: 1.2rem;
    width: 15rem;
    text-align: center;
    margin-bottom: 1rem; }
  .formulario_btn_submit {
    display: block;
    width: 15rem;
    font-size: 1.2rem;
    background-color: #666666;
    color: #ffffff;
    text-align: center; }

.twophotos {
  position: relative;
  margin-bottom: 0.4rem; }
  .twophotos_fondo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .twophotos_fondo_imagen {
      width: 50%; }
  .twophotos_contenido {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .twophotos_titulo {
    color: #000000;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400; }

.pie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  height: 8rem; }
  .pie_derecho {
    font-size: 0.9rem;
    font-weight: 700; }
  .pie_redes {
    font-size: 1.2rem; }

.help {
  max-width: 70%; }
  .help__title_big {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center; }
  .help__title {
    text-transform: lowercase;
    font-size: 1,5rem;
    margin: 2rem; }
  .help__parrafo {
    line-height: 2rem; }

.ayuda {
  display: flex;
  justify-content: center; }

.falla {
  background-color: #000000;
  padding: 3em; }
  .falla_titulo {
    font-size: 2.5em;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1em; }
  .falla_parrafo {
    font-size: 1em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0.5em; }
    .falla_parrafo a {
      text-decoration: underline;
      color: gray; }

.top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.title {
  font-size: 1em;
  border-bottom: solid 1px gray; }

.subtitle {
  font-size: 0.7em; }
