.encabezado {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    background: $clr-white;
    z-index: 1;
    
    &_imagen {
        width: 13rem;
    }

    &_lista {
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 700;
        padding: 1em;
        &_item {
            display: inline-block;
            padding-left: 0.8em;
            
            &_ancla {
                display: block;
                padding: 10px 12px;
                background-color: $clr-white;
            }
            &_lista {
                display: none;
                position: absolute;
                width: 140px;
                z-index: 3;

                &_item {
                display: block;
                width: 150px;
                background-color: $clr-white;
                text-align: center;
                    

                    &_ancla {
                        color: $clr-gray;
                        
                    }
                }
            }
        }
    }
}

.encabezado_lista_item:hover > .encabezado_lista_item_lista {
    display: block;
}

.encabezado_lista_item_lista_item_ancla:hover {
    color: $clr-black;
    z-index: 5;
}

.encabezado_lista_item:hover {
    color: $clr-gray;
}
