.hero {
    position: relative;

    &_fondo{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    &_contenido{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }

    &_titulo {
        color: $clr-black;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
    }
}